html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
}
* {
    font-size: 16px;
}
.blurred-background {
    background: url(./images/summer.jpg) no-repeat center;
    /* background-size: cover; */
    background-size: auto auto;
    height: 100%;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    position: relative;
}
img {
    width: 70em;
    height: 35em;
    margin-left:-35em;
    margin-top:-17.5em;
    /* width: 15em;
    height: 10em; */
    /* margin-left:-7.5em;
    margin-top:-5em;*/
    position: absolute;
    left:50%;
    top:50%;
    z-index: 3;
    -webkit-box-shadow: 10px 10px 16px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 16px -4px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 16px -4px rgba(0,0,0,0.75);
}
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 7rem;
    margin: 3em 2em;
    /* font-size: 2rem;
    margin: 11em 2em; */
    color: rgba(72, 168, 150, .35);
    display: inline-block;
    position: absolute;
    z-index: 4;
}
a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-size: 2rem;
    color: rgba(72, 168, 150, .6);
    display: inline-block;
    position: absolute;
    z-index: 4;
    text-shadow: 0.7px 0.7px 1px #ffffff;
}
.next {
    margin: 5em 33em;
}
.previous {
    margin: 18em 7em;
    color: rgba(72, 168, 150, .7);
}
/* @media (min-width: 1144px){
    img {
        width: 70em;
        height: 35em;
        margin-left:-35em;
        margin-top:-17.5em;
    }
    h1 {
        font-size: 7rem;
        margin: 3em 2em;
    }
    .next {
        font-size: 2rem;
        margin: 3em 31em;
    }
}  */